ion-content {
    --background: #e6e2df;

    #header {
        height: 33%;
        background: #7972e6;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 20px;

        #app-bar {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-icon {
                font-size: 24px;
                margin-left: -5px;
            }

            #logo {
                width: 120px;
                height: 120px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                margin: auto;

                img {
                    width: 70%;
                }
            }
        }
    }

    .custom-button {
        display: block;
        margin: 0 auto;
        width: 150px;
        /* Ajusta según sea necesario */
    }


    .wrapper {
        position: absolute;
        top: 26%;
        left: 4%;
        right: 4%;

        .form-wrapper {
            box-shadow: none;
            border-radius: 20px;
            padding: 15px 10px;

            ion-item {
                --background: #efefef;
                --padding-start: 10px;
                --highlight-height: 0;
                --border-width: 0;
                --padding-top: 0;
                --min-height: 40px;
                margin-bottom: 15px;
                border-radius: 5px;

                ion-icon {
                    font-size: 18px;
                    margin-top: 20px;
                }
            }
        }

    }

    ion-button {
        --background: #7972e6;
        --color: #fff;
    }

    .line-text {
        padding: 0 30px;
        position: relative;
        height: 20px;
        margin-top: 30px;

        .lines {
            height: 1px;
            background: #000;
            display: block;
        }

        .text {
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translate(-50%);
            background: #e0dfe6;
            padding: 0 16px;
        }


    }

    .centered-button {
        width: 250px;
        display: block;
        margin: 20px auto 0;
    }

    .centrar-text {
        text-align: center;
    }
    

}