<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detallenote2admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detallenote2admin</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
-->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="'/home'">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Página Principal</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/administrador'">
        <ion-icon name="shield-outline"></ion-icon>
        <ion-label>Administrador</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/carrito'">
        <ion-icon name="bag-check-outline"></ion-icon>
        <ion-label>Mi carrito</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/miscompras'">
        <ion-icon name="bag-check-outline"></ion-icon>
        <ion-label>Mis compras</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/perfil'">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/login'">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Menú</ion-title>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="header">
    <div id="app-bar">
      <div id="logo">
        <img src="assets/a.png" alt="">
      </div>
    </div>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <div id="imagenc">
          <img src="assets/Notebook-Lenovo-K14-Gen-1.jpg" alt="">
          
          <ion-item>
            <ion-text></ion-text>
              <ion-text>Notebook ASUS Expertbook B9 </ion-text>
          </ion-item>
          <ion-item>
              <ion-text>Intel Core i7-1355U, 14" OLED, RAM 32GB, SSD 1TB, W11Pro</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>Precio:  {{ 500000 | currency:'CLP'}}</ion-text>
          </ion-item>
        </div>
        <ion-item>
          <ion-text>Color: Negro</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>Sistema Operativo: Windows 11 Pro</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>Procesador: AMD Ryzen 3 5400U (4 núcleos / 8 hilos / 2600 MHz - 4000 MHz)</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>Graficos: AMD Radeon RX Vega 6 (Ryzen 4000) (Integrada)</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>Pantalla: LED 14.0" (1920x1080) / 60 Hz</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>Memoria: 8 GB DDR4 (3200 MHz)</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>Almacenamiento: SSD 512 GB
          </ion-text>
        </ion-item>
        <ion-item class="counter">
          <ion-input label="Cantidad"></ion-input>
          <button onclick="this.nextElementSibling.stepDown()">-</button>
          <input type="number" value="2" min="0">
          <button onclick="this.previousElementSibling.stepUp()">+</button>
        </ion-item>
        <ion-button expand="block" routerLink="/tablanote">
          Actualizar
        </ion-button>
        <ion-button expand="block" color="danger" routerLink="/tablanote">ELIMINAR</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>