<ion-content>
  <div id="header">
    <div id="app-bar">
      <div id="logo">
        <img src="assets/a.png" alt="Logo">
      </div>
    </div>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper notfound-card">
      <div class="notfound-message">
        <h1>404</h1>
        <mat-progress-bar mode="determinate" value="50" color="warn"></mat-progress-bar>
        <p>Pagina no encontrada</p>
        <ion-button routerLink="/home" expand="block" class="custom-button">Volver</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
