ion-content {
    --background: #e6e2df;

    #header {
        height: 33%;
        background: #7972e6;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 20px;

        #app-bar {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-icon {
                font-size: 24px;
                margin-left: -5px;
            }

            #logo {
                width: 120px;
                height: 120px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                margin: auto;

                img {
                    width: 70%;
                }
            }
        }
    }

    .wrapper {
        position: absolute;
        top: 26%;
        left: 4%;
        right: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 70px); /* Ajuste para centrar la tarjeta */

        .form-wrapper {
            box-shadow: none;
            border-radius: 20px;
            padding: 30px;
            background-color: #ffffff;
            text-align: center;

            ion-item {
                --background: #efefef;
                --padding-start: 10px;
                --highlight-height: 0;
                --border-width: 0;
                --padding-top: 0;
                --min-height: 40px;
                margin-bottom: 15px;
                border-radius: 5px;

                ion-icon {
                    font-size: 18px;
                    margin-top: 20px;
                }
            }

            .notfound-message h1 {
                font-size: 72px;
                color: #e74c3c;
                margin: 0;
            }

            .notfound-message p {
                font-size: 18px;
                color: #333;
                margin: 10px 0 20px;
            }
        }
    }

    ion-button {
        --background: #7972e6;
        --color: #fff;
        border-radius: 25px;
        width: 150px;
        margin: 20px auto;
    }
}
